.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
  padding: 0 50px;
  box-shadow: 0 2px 3px rgb(0, 0, 0, 0.05);
}

.logo {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1200px;
}

.title {
  padding: 20px 50px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 550px;
  padding: 0 50px;
  max-width: 1200px;
}

.product {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  height: 100%;
  width: auto;
  min-width: 33%;
  padding: 0 3px;
}

.imgContainer {
  height: 90%;
  width: auto;
  display: flex;
  justify-content: center;
}

.img {
  width: 100%;
  object-fit: cover;
}

h3,
p {
  margin: 3px 0;
  font-size: 10px;
}

.addBtn {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
}
